name: "游꿥 Stryker"

on:
  push:
    tags: ["v[1-9]+.[0-9]+.[0-9]"]
  pull_request:
    branches: ["main"]
    types: ["opened", "synchronize", "reopened"]

jobs:
  mutation-tests:
    name: 游 Core
    runs-on: windows-latest
    steps:
      - name: 游닌 Checkout
        uses: actions/checkout@v2

      - name: 游댢 Use .NET 6.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: 游댡 Restore tools
        run: dotnet tool restore

      - name: 游 Run mutation tests
        run: dotnet stryker --config-file test/Tethos.Tests/stryker-config.json

      - name: 游닄 Artifact Stryker Results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: stryker-results
          path: "**/reports/mutation-report.html"

  mutation-tests-moq:
    name: 游 Moq
    runs-on: windows-latest
    steps:
      - name: 游닌 Checkout
        uses: actions/checkout@v2

      - name: 游댢 Use .NET 6.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: 游댡 Restore tools
        run: dotnet tool restore

      - name: 游 Run mutation tests
        run: dotnet stryker --config-file test/Tethos.Moq.Tests/stryker-config.json

      - name: 游닄 Artifact Stryker Results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: stryker-results
          path: "**/reports/mutation-report.html"

  mutation-tests-fakeiteasy:
    name: 游 FakeItEasy
    runs-on: windows-latest
    steps:
      - name: 游닌 Checkout
        uses: actions/checkout@v2

      - name: 游댢 Use .NET 6.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: 游댡 Restore tools
        run: dotnet tool restore

      - name: 游 Mutation tests
        run: dotnet stryker --config-file test/Tethos.FakeItEasy.Tests/stryker-config.json

      - name: 游닄 Artifact Stryker Results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: stryker-results
          path: "**/reports/mutation-report.html"

  mutation-tests-nsubstitute:
    name: 游 NSubstitute
    runs-on: windows-latest
    steps:
      - name: 游닌 Checkout
        uses: actions/checkout@v2

      - name: 游댢 Use .NET 6.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: 游댡 Restore tools
        run: dotnet tool restore

      - name: 游 Run mutation tests
        run: dotnet stryker --config-file test/Tethos.NSubstitute.Tests/stryker-config.json

      - name: 游닄 Artifact Stryker Results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: stryker-results
          path: "**/reports/mutation-report.html"
