name: "游꿥 Stryker"

on:
  push:
    tags: ["v[1-9]+.[0-9]+.[0-9]"]
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: ["opened", "synchronize", "reopened"]

jobs:
  mutation-tests:
    name: 游 Core
    runs-on: windows-latest
    steps:
      - name: 游닌 Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 游댗 Get Previous Version
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - name: 游댢 Use .NET 6.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: 游댡 Restore tools
        run: dotnet tool restore

      - name: Fetch branch name
        id: vars
        run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}

      - name: 游 Run mutation tests
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: dotnet stryker --config-file test/Tethos.Tests/stryker-config.json --version ${{ steps.vars.outputs.short_ref }}
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

      - name: 游닄 Test results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: stryker-results
          path: "**/reports/mutation-report.html"

  mutation-tests-moq:
    name: 游 Moq
    runs-on: windows-latest
    steps:
      - name: 游닌 Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 游댗 Get Previous Version
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - name: 游댢 Use .NET 6.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: 游댡 Restore tools
        run: dotnet tool restore

      - name: Fetch branch name
        id: vars
        run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}

      - name: 游 Run mutation tests
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: dotnet stryker --config-file test/Tethos.Moq.Tests/stryker-config.json --version ${{ steps.vars.outputs.short_ref }}
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

      - name: 游닄 Test results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: stryker-results
          path: "**/reports/mutation-report.html"

  mutation-tests-fakeiteasy:
    name: 游 FakeItEasy
    runs-on: windows-latest
    steps:
      - name: 游닌 Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 游댗 Get Previous Version
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - name: 游댢 Use .NET 6.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: 游댡 Restore tools
        run: dotnet tool restore

      - name: Fetch branch name
        id: vars
        run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}

      - name: 游 Mutation tests
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: dotnet stryker --config-file test/Tethos.FakeItEasy.Tests/stryker-config.json --version ${{ steps.vars.outputs.short_ref }}
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

      - name: 游닄 Test results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: stryker-results
          path: "**/reports/mutation-report.html"

  mutation-tests-nsubstitute:
    name: 游 NSubstitute
    runs-on: windows-latest
    steps:
      - name: 游닌 Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: 游댗 Get Previous Version
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - name: 游댢 Use .NET 6.0 SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: 游댡 Restore tools
        run: dotnet tool restore

      - name: Fetch branch name
        id: vars
        run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}

      - name: 游 Run mutation tests
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: dotnet stryker --config-file test/Tethos.NSubstitute.Tests/stryker-config.json --version ${{ steps.vars.outputs.short_ref }}
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

      - name: 游닄 Test results
        uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: stryker-results
          path: "**/reports/mutation-report.html"
